// Style Guide Variables

$headline-text: 3rem; // 300%
$body-text: 1rem; // 100%
$nav-item: 1.25rem; // 125%
$sub-header: 1.5rem; // 150%
$byline: .75rem; // 75%

// margin sizes for headlines
$headline-margin: 1px;
$margbot: -30px;

// fonts

$sans-serif: 'Tenali Ramakrishna', sans-serif; // this means that if the device does not have Open Sans, it will default to the standard sans-serif
$serif: 'Suravaram', serif;

body {
  font-size: 16px;
  font-family: $sans-serif;
}

h1 {
  font-size: $headline-text;
  margin: $headline-margin;
  margin-bottom: $margbot;
  font-family: $serif;
}

p {
  font-size: $body-text;
}

nav li {
  font-size: $nav-item;
}

h2 {
  font-size: $sub-header;
    margin: $headline-margin;
      margin-bottom: $margbot;
      font-family: $serif;
}

figcaption {
  font-size: $byline;
}
